@import './../common.scss';

.editable-flow-tile {
    display: inline-flex;
    width: 33.33%;
    .card-padding {
        border: 1px solid $inputFieldColor;
        margin: $normalPadding;
        padding: $normalPadding;
        border-radius: $smallPadding;
        width: 75%;
        position: relative;
        .title {                    
            color: $inputFieldColor;
            height: $inputFieldSize;
            border: 1px solid $inputFieldColor;
            padding: 0 $smallPadding;
            display: flex;
            align-items: center;                            
            input {
                padding-left: $smallPadding;
                width: 100%;
                height: 100%;
            }
        }
        .status-change {
            background: $inputFieldColor;
            color: $neutralTextColor;
            width: $floatingButtonSize;
            height: $floatingButtonSize;
            font-size: $bigFontSize;
            border-radius: $floatingButtonSize;
            box-shadow: $shadow;
            -webkit-box-shadow: $shadow;
            -moz-box-shadow: $shadow;
            right: #{-1*$floatingButtonSize/3};
            top: #{-1*$floatingButtonSize/3};
            position: absolute;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: $successColor;
            &.progress {
                background: $neutralIndicatorColor;
            }
            &.pending {
                background: $emptyIndicatorColor;
            }
        }
        .description {
            border: 1px solid $inputFieldColor;
            margin-top: $largePadding;
            padding: $normalPadding;
            display: flex;
            align-items: center;
            justify-content: space-between;  
            textarea {
                width: 100%;
                resize: none;
            }          
        }
    }
    .arrow {
        width: 25%;
        display: flex;
        align-items: center;
        .line {
            height: 1px;
            width: 100%;
            background: $secondaryColor;
        }
        .fa.fa-caret-down {
            display: none;
        }
    }
    &.connection {
        height: $headerSize;
        padding: 0 $normalPadding;
        width: 83%;
        display: flex;
        justify-content: flex-end;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        .left-dir {
            height: 100%;
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            position: relative;
            .line {
                width: 1px;
                height: 55%;
                background: $secondaryColor;
            }
            .fa {
                position: absolute;
                bottom: #{-1*$fontSize/2};
            }
        }
        .connector {
            width: 85%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            .line {
                height: 55%;
                width: 100%;
                border-top: 1px solid $secondaryColor;
            }
        }
        .right-dir {
            height: 100%;
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            .line {
                width: 1px;
                height: 45%;
                background: $secondaryColor;
            }
        }
    }
    &:last-child {
        .arrow {
            display: none;
        }
    }
}

.mobile {
    .editable-flow-tile {
        width: 95%;
        display: block;
        .card-padding {
            width: 100%;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            margin-bottom: 0;
            margin-top: 0;
        }
        .arrow {
            width: 1px;
            margin: 0 auto;
            text-align: center;
            display: block;
            position: relative;
            .line {
                width: 1px;
                height: $headerSize;
            }
            .fa.fa-caret-right {
                display: none;
            }
            .fa.fa-caret-down {
                display: inline;
                position: absolute;
                bottom: -3px;
                left: -3px;
            }
        }
        &.connection {
            display: none;
        }   
        &:first-child {
            .card-padding {
                margin-top: $normalPadding;
            }
        }    
        &:last-child {
            .card-padding {
                margin-bottom: $normalPadding;
            }
            .arrow {
                display: none;
            }
        }
    }
}