@import './../common.scss';

.header {
    height: $headerSize;
    background: $primaryColor;
    color: $neutralTextColor;
    padding: 0 $normalPadding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        font-weight: $lightFontWeight;
        display: inline-flex;
        align-items: center;
        img {
            height: #{$headerSize/2};
        }
        span {
            padding-left: $smallPadding;
        }
    }
    .action {
        .logout {
            box-shadow: $shadow;
            -webkit-box-shadow: $shadow;
            -moz-box-shadow: $shadow;
            background: $secondaryPanelColor;
            height: #{$headerSize/2};
            display: inline-flex;
            align-items: center;
            border-radius: 2px;
            input {
                height: 100%;
                width: 100%;
            }
        }
    }
}