$primaryColor: #a900b0;
$secondaryColor: #000000;
$primaryActionColor: #3a5cd9;
$secondaryActionColor: #7800b7;
$secondaryPanelColor: #ffffff;
$primaryTextColor: #000000;
$neutralTextColor: #ffffff;
$inputFieldColor: #bcbcbc;
$linkTextColor: #5abbf8;
$alarmingColor: #fd072a;
$successColor: #14bc50;
$neutralIndicatorColor: #4282f5;
$emptyIndicatorColor: #dfdfdf;

$verylightFontWeight: 100;
$lightFontWeight: 300;
$normalFontWeight: 400;
$boldFontWeight: 700;

$smallFontSize: 10px;
$fontSize: 12px;
$bigFontSize: 14px;
$largeFontSize: 16px;
$hugeFontSize: 20px;

$headerSize: 50px;
$inputFieldSize: 35px;
$floatingButtonSize: 25px;
$smallPadding: 5px;
$normalPadding: 10px;
$largePadding: 20px;

$shadow: -1px 3px 15px -5px rgba(0, 0, 0, 0.75);
$shadow2: -1px 1px 5px 2px rgba(102, 102, 102, 0.7);