@import './../../common/common.scss';

.home-page {
    .empty-workflow {
        font-size: $hugeFontSize;
        margin-top: $headerSize;
        text-align: center;
        .button {
            color: $neutralTextColor;
            height: $inputFieldSize;
            padding: 0 $normalPadding;
            font-size: $fontSize;
            margin-top: $normalPadding;
            width: auto;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            i.fa {
                padding-right: $normalPadding;
            }
            &.positive {                    
                background: $successColor;
            }
        }
    }
}