@import './../../common/common.scss';

.workflow-page {
    .workflow-filter-actions {
        padding: $normalPadding;
        border-bottom: 1px solid $inputFieldColor;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        .filter {
            display: flex;
            width: 50%;
            .input-box {
                color: $inputFieldColor;
                height: $inputFieldSize;
                border: 1px solid $inputFieldColor;
                width: 60%;
                padding: 0 $smallPadding;
                display: flex;
                align-items: center;
                input {
                    padding-left: $smallPadding;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .actions {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .button {
                color: $neutralTextColor;
                height: $inputFieldSize;
                width: 25%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                i.fa {
                    padding-right: $normalPadding;
                }
                &.alt {                    
                    background: $secondaryActionColor;
                }
                &.positive {                    
                    background: $successColor;
                }
                &.alarm {                    
                    background: $alarmingColor;
                }
                &.normal {
                    background: $primaryActionColor;
                }
            }
        }
    }
    .empty-task {
        font-size: $hugeFontSize;
        margin-top: $headerSize;
        text-align: center;
        .button {
            color: $neutralTextColor;
            height: $inputFieldSize;
            padding: 0 $normalPadding;
            font-size: $fontSize;
            margin-top: $normalPadding;
            width: auto;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            i.fa {
                padding-right: $normalPadding;
            }
            &.positive {                    
                background: $successColor;
            }
        }
    }
}

.mobile {
    .workflow-page {
        .workflow-filter-actions {
            width: 100%;
            display: block;
            .filter {
                margin-bottom: $normalPadding;
                display: block;
                width: 100%;
                .input-box {
                    width: 100%;
                }
            }
            .actions {
                display: block;
                width: 100%;
            }
        }
    }
}