@import './common/common.scss';

.app {
  font-size: $fontSize;
  .btn {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
      -moz-opacity: 0.8;
      -o-opacity: 0.8;
    }
  }
  input, select, textarea {
    font-family: 'Roboto', sans-serif;
    background: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
  }
  .checkbox {
    font: normal normal normal 14px/1 FontAwesome;
    &::after {
        content: '\f096';
    }
    &:checked::after {
        content: '\f14a';
    }
  }
}