@import './../common.scss';

.filter-container {
    padding: $normalPadding;
    border-bottom: 1px solid $inputFieldColor;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    .filter {
        display: flex;
        width: 75%;
        .input-box {
            color: $inputFieldColor;
            height: $inputFieldSize;
            border: 1px solid $inputFieldColor;
            border-radius: $headerSize;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            width: 60%;
            padding: 0 $smallPadding;
            display: flex;
            align-items: center;
            input {
                padding-left: $smallPadding;
                width: 100%;
                height: 100%;
            }
        }
        .select-box {
            border: 1px solid $inputFieldColor;
            background: $inputFieldColor;
            padding: 0 $normalPadding;
            border-top-right-radius: $headerSize;
            border-bottom-right-radius: $headerSize;
            border-left: none;
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            select {
                height: 100%;
                cursor: pointer;
            }
        }
    }
    .create {
        background: $successColor;
        color: $neutralTextColor;
        height: $inputFieldSize;
        width: 25%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        i.fa {
            padding-right: $normalPadding;
        }
    }
}

.mobile {
    .filter-container {
        width: 100%;
        flex-direction: column;
        .filter {
            width: 100%;
            .input-box {
                width: 100%;
            }
        }
        .create  {
            margin-top: $normalPadding;
            width: 100%;
        }
    }
}