@import './../../common/common.scss';

.login-container {
    position: fixed;
    height: calc(100% - #{$headerSize});
    height: -webkit-calc(100% - #{$headerSize});
    height: -moz-calc(100% - #{$headerSize});
    width: 100%;
    top: $headerSize;
    left: 0;
    display: flex;
    align-items: center;
    .login-box {    
        box-shadow: $shadow2;
        -webkit-box-shadow: $shadow2;
        -moz-box-shadow: $shadow2;
        padding: $largePadding $normalPadding;
        width: 40%;
        margin: 0 auto;
        border-radius: 3px;
        box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box; 
        .title {
            text-align: center;
            margin-bottom: $largePadding;
        }
        .input-box {
            color: $inputFieldColor;
            height: $inputFieldSize;
            border: 1px solid $inputFieldColor;
            border-radius: $smallPadding;
            padding: 0 $smallPadding;
            margin-top: $largePadding;
            display: flex;
            align-items: center;
            input {
                padding-left: $smallPadding;
                width: 100%;
                height: 100%;
            }
        }
        .action {
            margin-top: $largePadding;
            .login {
                background: $primaryActionColor;
                height: $inputFieldSize;
                border-radius: $smallPadding;
                input {
                    color: $neutralTextColor;
                    width: 100%;
                    height: 100%;     
                    cursor: pointer;             
                }
            }
            .create {
                color: $linkTextColor;
                font-size: $smallFontSize;
                text-align: center;
            }
        }
    }
}

.mobile {
    .login-container {  
        .login-box {
            width: 90%;
        }
    }
}