@import './../common.scss';

.flow-tile {
    display: inline-flex;
    width: 33.33%;
    .card-padding {
        border: 1px solid $inputFieldColor;
        margin: $normalPadding;
        padding: $normalPadding;
        border-radius: $smallPadding;
        width: 100%;
        position: relative;
        .title {                    
            color: $inputFieldColor;
            height: $inputFieldSize;
            border: 1px solid $inputFieldColor;
            padding: 0 $smallPadding;
            margin-top: $largePadding;
            display: flex;
            align-items: center;                            
            input {
                padding-left: $smallPadding;
                width: 100%;
                height: 100%;
            }
        }
        .delete {
            background: $alarmingColor;
            color: $neutralTextColor;
            width: $floatingButtonSize;
            height: $floatingButtonSize;
            font-size: $bigFontSize;
            border-radius: $floatingButtonSize;
            box-shadow: $shadow;
            -webkit-box-shadow: $shadow;
            -moz-box-shadow: $shadow;
            right: #{-1*$floatingButtonSize/3};
            top: #{-1*$floatingButtonSize/3};
            position: absolute;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
        .status-fields {
            margin-top: $largePadding;
            margin-bottom: $normalPadding;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .status-change {
                background: $inputFieldColor;
                color: $neutralTextColor;
                width: $floatingButtonSize;
                height: $floatingButtonSize;
                font-size: $bigFontSize;
                border-radius: $floatingButtonSize;
                box-shadow: $shadow;
                -webkit-box-shadow: $shadow;
                -moz-box-shadow: $shadow;
                background: $successColor;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                &.pending {
                    background: $emptyIndicatorColor;
                }
            }
        }
    }
}

.mobile {
    .flow-tile {
        width: 100%;
    }
}